.user-home{
    background:radial-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../assets/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.main-banner{
    background:radial-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../assets/bgGradient.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.second-banner{
        background:radial-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../assets/secondbg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

}
@media screen and (min-width: 800px) {
    .main-banner, .banner-title, .second-banner{
        max-width: 70vw;
        margin: 10px auto;
    }
    .howto{
        width: 70%;
        margin: 10px auto;
    }
}
.vouchers-text{
  text-shadow: -1px 0 0px rgb(244, 185, 9), 0 0 0 rgb(234 179 8 ),
                0 20px 30px rgba(0, 0, 0, 0.5);  
}

